body{margin: 60px 0 0;padding: 0;font: 14px 'Roboto',sans-serif;color: #000;background: #f6f6f6;}
a,a:hover,a:focus{outline: none;text-decoration: none;transition: all 500ms ease;}
ul{margin: 0;padding: 0;}
h2{font: 600 20px 'Roboto',sans-serif;color: #fff;padding: 20px 0;text-transform: capitalize;}
h3{font: 600 22px 'Roboto',sans-serif;color: #000;padding: 20px 0;text-transform: capitalize;margin: 0;padding: 0;}
.breadcrumbList{margin-bottom: 20px;}
.breadcrumbList li{display: inline-block;padding: 10px 10px 5px 0;}
.breadcrumbList li a{font: 400 14px 'Roboto',sans-serif;color: #000;}
.breadcrumbList li a:hover{color: #0253cc;}
.breadcrumbList li:last-child a{color: #0253cc;}
.menuicon{cursor: pointer;display: none;}
.menuicon i{color: #fff;font-size: 20px;}
/***********Table**********/

.table {color: #333;margin-top: 20px;}
.table.table-white {background-color: #fff;}
.table td, .table th{border-top: 1px solid #dee2e6;}
table.dataTable thead th, table.dataTable thead td,table.dataTable.no-footer{border-bottom: 2px solid #dee2e6;}
table.dataTable thead th, table.dataTable tbody td{padding: 12px 10px;}
.table thead th {font-weight: 500;letter-spacing: 0.05em;border-bottom: 2px solid #dee2e6;}
.table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #f6f6f6;}
table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting{background-image: none;}
/*********Header************/
header{background: -moz-linear-gradient(left, #00c5fb 0%, #0253cc 100%);background: -webkit-linear-gradient(left, #00c5fb 0%, #0253cc 100%);background: -ms-linear-gradient(left, #00c5fb 0%, #0253cc 100%);background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);border-bottom: 1px solid transparent;box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);height: 60px;left: 0;position: fixed;right: 0;top: 0;z-index: 1002;}
header ul{text-align: right;margin-top: 5px;}
header ul li{display: inline-block;padding: 15px 0 15px 40px;}
header ul li a{display: inline-block;font: 500 16px 'Roboto',sans-serif;color: #fff;position: relative;transition: all 500ms ease;text-transform: capitalize;}
header ul li a:after{content: "";position: absolute;left: 0;bottom: -2px;background: #fff;width: 0;height: 1px;transition: all 500ms ease;}
header ul li a:hover{color: #fff;transition: all 500ms ease;}
header ul li a:hover:after{width: 100%;transition: all 500ms ease;}
/*********Middle************/
.middle{background: #f6f6f6;padding: 40px 0;}
.dataTables_wrapper .dataTables_paginate .paginate_button{padding: 0;border: none !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{border: none !important;}
/*********Landing page************/
.landingpage{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 500px;height: 500px;max-width: 100%;}
.landingpage h2{font-size: 26px;margin-bottom: 30px;text-transform: uppercase;}
.empbox{text-align: center;color: #fff;padding: 40px 0;border: 1px solid rgba(255,255,255,0.4);margin-bottom: 30px;transition: all 500ms ease;}
.empbox:hover{background: rgba(255,255,255,0.1);transition: all 500ms ease;}
.empbox i{font-size: 30px;color: #fff;}
.empbox p{font: 500 20px/26px 'Roboto',sans-serif;margin: 15px 0 0;}
/*********Footer************/
footer{background: #eee;padding: 15px 0;border-top: 1px solid #eee;}
footer p{font: 500 12px 'Roboto',sans-serif;color: #222;margin-bottom: 0;text-align: center;}
/**********Media Query******/
@media screen and (min-width:991px) and (max-width:40000px)
{
html,body{height: 100%;}
.midHeight{position: relative;padding-bottom: 40px;min-height: 100%;}
footer{position: absolute;bottom: 0;left: 0;width: 100%;height: 40px;}
}
@media screen and (min-width:0) and (max-width:991px)
{
body{margin-top: 0;overflow-y: auto !important;}
header{height: auto;position: relative;}	
header ul{display: none;margin: 0;padding-bottom: 10px;}
header ul li{display: block;padding: 10px 0;text-align: center;}
h2{font-size: 18px;}
.menuicon{display: block;position: absolute;right: 20px;top: -48px;z-index: 9;}
.tableScroll{overflow-x: scroll;}
.landingpage{position: inherit;top: inherit;left: inherit;transform: inherit;padding: 20px 15px;width: 100%;height: 100%;}
header,footer{display: block !important;}
.empbox{width: 100%;}
}